.background-1 {
    background: linear-gradient(
        118deg,
        rgb(166, 195, 231),
        rgb(99, 145, 199),
        rgb(99, 145, 199)
    );
}
.background-2 {
    background: linear-gradient(
        118deg,
        rgb(94, 186, 179),
        rgb(149, 208, 203),
        rgb(173, 209, 206)
    );
}
.background-3 {
    background: linear-gradient(
        90deg,
        rgba(213, 255, 248, 1) 0%,
        rgba(213, 255, 248, 1) 25%,
        rgba(222, 255, 146, 1) 100%
    );
}
