// ***** Global Rules
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    font-family: inherit;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}

@media (min-width: 992px) {
    /* width */
    ::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #eee;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $colorPrimary;
        border-radius: 15px;
    }
}
