@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.background-1 {
  background: linear-gradient(118deg, #a6c3e7, #6391c7, #6391c7); }

.background-2 {
  background: linear-gradient(118deg, #5ebab3, #95d0cb, #add1ce); }

.background-3 {
  background: linear-gradient(90deg, #d5fff8 0%, #d5fff8 25%, #deff92 100%); }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  font-family: inherit;
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%; }

@media (min-width: 992px) {
  /* width */
  ::-webkit-scrollbar {
    width: 7px; }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 10px; }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #29398c;
    border-radius: 15px; } }
@keyframes scale {
  0% {
    transform: scale(0.7); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.7); } }
@keyframes bounceX {
  to {
    transform: translateX(10px); } }
.modal-popup {
  @apply opacity-0 invisible duration-300 fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-full h-full z-50 flex justify-center items-center;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal-popup .modal {
    @apply flex justify-center items-center relative; }
    .modal-popup .modal__container {
      @apply bg-primary relative w-full h-[600px] max-h-full overflow-y-scroll box-border rounded-[20px] lg:overflow-hidden lg:scale-[0.8] lg:h-full; }
    .modal-popup .modal__close {
      @apply absolute w-full flex justify-end p-8 cursor-pointer; }
      .modal-popup .modal__close button {
        @apply text-white text-4xl relative z-50 duration-200; }
        .modal-popup .modal__close button:hover {
          @apply text-crimson; }
    .modal-popup .modal__form {
      background: transparent; }
      .modal-popup .modal__form--input {
        @apply border-[2px] border-solid border-formBorderColor w-full rounded-[10px]; }
        .modal-popup .modal__form--input input,
        .modal-popup .modal__form--input textarea,
        .modal-popup .modal__form--input select {
          background: transparent;
          @apply text-xs w-full h-full p-7 outline-none text-white resize-none md:text-base lg:text-xl; }
          .modal-popup .modal__form--input input::placeholder,
          .modal-popup .modal__form--input textarea::placeholder,
          .modal-popup .modal__form--input select::placeholder {
            @apply text-white; }
        .modal-popup .modal__form--input .country-code-select {
          @apply text-white; }
          .modal-popup .modal__form--input .country-code-select option[disabled]:selected {
            @apply text-white; }
          .modal-popup .modal__form--input .country-code-select option {
            @apply text-black; }
            .modal-popup .modal__form--input .country-code-select option:first-child {
              @apply text-[#707070]; }
        .modal-popup .modal__form--input .iti__selected-flag {
          background: transparent; }
          .modal-popup .modal__form--input .iti__selected-flag .iti__selected-dial-code {
            @apply text-white; }
          .modal-popup .modal__form--input .iti__selected-flag .iti__arrow {
            @apply border-l-[5px] border-r-[5px] border-t-[6px] border-t-white; }
      .modal-popup .modal__form .send button {
        @apply border-[1px] border-solid border-white; }
        .modal-popup .modal__form .send button:hover {
          @apply duration-300 bg-primary text-white border-[1px] border-solid border-white; }
  .modal-popup.show {
    @apply opacity-100 visible; }

.nav__top--phones li a {
  @apply flex items-center gap-1 hover:text-[#0A6EBD] focus:text-[#0A6EBD] duration-200 ease-in; }
  .nav__top--phones li a img {
    @apply w-[24px] h-[18px]; }
.nav__top--social li a {
  @apply hover:text-[#0A6EBD] focus:text-[#0A6EBD] duration-200 ease-in; }
  .nav__top--social li a i {
    @apply text-2xl; }
.nav__hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative; }
  .nav__hamburger--top, .nav__hamburger--middle, .nav__hamburger--bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s; }
  .nav__hamburger--middle {
    transform: translateY(7px); }
  .nav__hamburger--bottom {
    transform: translateY(14px); }
  .nav__hamburger.open {
    @apply absolute z-20 top-[10px]; }
    .nav__hamburger.open span {
      @apply h-[3px] bg-primary; }
      .nav__hamburger.open span:first-child {
        transform: rotate(45deg) translateY(6px) translate(6px); }
      .nav__hamburger.open span:nth-child(2) {
        display: none; }
      .nav__hamburger.open span:last-child {
        transform: rotate(-45deg) translateY(6px) translate(-6px); }
    .nav__hamburger.open:hover span, .nav__hamburger.open:active span {
      background-color: crimson; }
@media (max-width: 992px) {
  .nav__content {
    @apply translate-x-[-100%] overflow-y-scroll transition-all duration-300 ease-in-out; } }
.nav__content a {
  @apply cursor-pointer; }
.nav__content--link {
  @apply text-primary py-3 px-0 lg:flex lg:items-center; }
  .nav__content--link:nth-child(1), .nav__content--link:nth-child(2), .nav__content--link:nth-child(3) {
    @apply border-b-[1px] border-[#dddddd] lg:border-0; }
  .nav__content--link:last-child {
    @apply border-b-[1px] border-[#dddddd] lg:border-0; }
  .nav__content--link .hover {
    @apply flex items-center w-full duration-500 ease-in-out relative lg:gap-3; }
    .nav__content--link .hover i {
      @apply text-xs; }
      .nav__content--link .hover i:last-child {
        @apply text-base; }
    @media (min-width: 992px) {
      .nav__content--link .hover::after {
        content: "";
        background: linear-gradient(to right, #2a398c, #35428d, #fff);
        transition: all 0.6s ease-in-out;
        @apply block w-0 h-[2px] absolute bottom-0 left-0; }
      .nav__content--link .hover:hover::after, .nav__content--link .hover:focus::after {
        @apply w-full; } }
  .nav__content--link.active a::after {
    @apply w-full; }
.nav__content--dropdown {
  @apply max-h-0 opacity-0 overflow-hidden transition-all duration-300 z-[-1] lg:translate-y-[-60px] lg:shadow-[0_-3px_3px_0px_#0001_inset]; }
  @media (min-width: 992px) {
    .nav__content--dropdown.active {
      @apply max-h-fit opacity-100 translate-y-0 pb-10 bg-white z-50; } }
  @media (max-width: 992px) {
    .nav__content--dropdown.active {
      @apply flex left-0 opacity-100 visible relative  mt-5 h-[500px] max-h-[100%] translate-y-0 bg-white z-50 overflow-y-scroll; } }
  .nav__content--dropdown .links ul li a {
    @apply text-black flex items-center gap-5 font-semibold hover:text-primary hover:translate-x-[7px] transition-all duration-300 ease-in-out; }
    .nav__content--dropdown .links ul li a img {
      @apply w-[30px] h-[30px]; }
  .nav__content--dropdown .owl-carousel {
    display: none !important; }
    @media (min-width: 768px) {
      .nav__content--dropdown .owl-carousel {
        display: flex !important; } }
  .nav__content--dropdown .item {
    @apply flex justify-center items-end cursor-grab; }
    .nav__content--dropdown .item .img {
      @apply z-10; }
      .nav__content--dropdown .item .img img {
        @apply max-w-[200px]; }
    .nav__content--dropdown .item .info {
      @apply flex flex-col items-end p-7 rounded-[10px] min-w-[500px] h-[230px] relative left-[-60px]; }
      .nav__content--dropdown .item .info h4 {
        @apply mt-3 text-black font-bold text-3xl; }
      .nav__content--dropdown .item .info a {
        @apply flex items-center gap-1 mt-24 text-sm; }
        .nav__content--dropdown .item .info a img {
          @apply w-[20px] h-[17px]; }
.nav__content .portfolio.active {
  @apply h-auto; }
.nav__content--social .phones ul li a {
  @apply flex items-center gap-3 hover:text-[#0A6EBD] focus:text-[#0A6EBD] duration-200 ease-in; }
  .nav__content--social .phones ul li a img {
    @apply w-6 h-6; }
.nav__content--social .social-links ul li a i {
  @apply border-2 text-[#8f98c5] p-4 rounded-full duration-200 ease-in-out w-10 h-10 flex items-center justify-center; }
  .nav__content--social .social-links ul li a i:hover,
  .nav__content--social .social-links ul li a i :active {
    @apply text-white bg-linksColor border-[2px] border-linksColor; }
@media (max-width: 992px) {
  .nav__content.opened {
    @apply fixed translate-x-0 top-0 left-0 w-full h-full z-10 bg-white opacity-100 visible; } }
.nav.scrolled {
  transition: all 0.3s ease;
  box-shadow: 0 0 5px 5px #0001;
  @apply fixed top-0 left-0 right-0 w-full z-50 bg-white; }
  .nav.scrolled .nav__top {
    @apply hidden; }

header::before {
  position: absolute;
  content: "";
  background: url("../images/header/background.webp");
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 45%;
  width: 73%;
  height: 100%;
  right: 0;
  bottom: 0;
  animation: floatUp 2.5s ease-in-out infinite;
  z-index: -1;
  animation: bounce 2.5s infinite; }
header .col {
  @apply p-5 rounded-2xl border-[1px] border-solid border-borderColor w-full; }
  header .col h3 {
    @apply gap-2 items-center font-bold text-2xl;
    @apply flex; }
    header .col h3 img {
      @apply h-6 w-6; }
  header .col p {
    @apply my-5; }

@keyframes bounce {
  0%,
    100% {
    transform: translateY(-5%); }
  50% {
    transform: none; } }
footer .col-1 ul li a i {
  @apply border-2 text-primary p-4 rounded-full duration-200 ease-in-out w-10 h-10 flex items-center justify-center; }
  footer .col-1 ul li a i:hover,
  footer .col-1 ul li a i :active {
    @apply text-white bg-linksColor border-[2px] border-linksColor; }
footer .col-2 h4 {
  @apply text-xl font-bold mb-3; }
footer .col-2 li {
  @apply mt-3; }
  footer .col-2 li a {
    @apply text-base font-semibold transition-all duration-300; }
    footer .col-2 li a:hover {
      @apply text-primary; }
footer .col-3 form input {
  background: transparent; }
footer .col-3 .emails {
  @apply flex flex-col gap-3; }
  footer .col-3 .emails .email {
    @apply flex items-center justify-between p-4 bg-lightPurple rounded-[5px]; }
    footer .col-3 .emails .email a {
      @apply flex items-center gap-3 font-semibold; }
      footer .col-3 .emails .email a i {
        @apply text-2xl; }

/*# sourceMappingURL=style.css.map */
